h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1.5px gray;
    border-radius: 15px;
    max-width: 40%;
    padding: 0.9rem;
    font-size: 3rem;
}

header {}

.keyWord {
    justify-content: center;
    text-align: center;
    border: solid 1.5px gray;
    border-radius: 4px;
    max-width: 90%;
    padding: 0.25rem;
    font-size: 1.5rem;
    margin: 1.5rem;
}

hr {
    border: solid 1.5px gray;
    border-radius: 15px;
    width: 60%;
    margin-bottom: 3rem;
}

body header .titleUnderLine {
    background-color: red;
    border-bottom: solid 10px black;
    width: 40%;
}

h2 {
    align-self: center;
    text-align: center;
    border: solid 1px;
    border-radius: 15px;
    max-width: 50%;
    padding: 0.9rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;

}

p {
    font-size: 1.2rem;
    text-align: center;
    margin: 3rem;
}

ul {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px;
    border-radius: 15px;
    max-width: 50%;
    padding: 0.9rem;
    font-size: 1rem;
    padding: 0.3rem;
}

li {
    margin: 0.5rem;
}